<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>saucelabs-spike</title>
</head>
<body>

<h1>Send a message</h1>

<form action="/" method="post">
  <label for="message">Message <input type="text" name="message" id="messageInput" /></label>
  <input type="submit" value="Submit" />
</form>

{{#message}}
<p id="message">Your message was: {{message}}</p>
{{/message}}

<p class="delayed" style="display: none;">This text appears after a delay.</p>

<script>
window.setTimeout(function() {
  document.querySelector('.delayed').style.display = '';
}, 1000);
</script>
</body>
</html>
